/* about section  */
.btn-close {
    background-image: url('../src/assets/Images/close.png');
    cursor: pointer;
  }
.custom-accordion-header {
    background-color: #09f4bf;
    color: white !important;
    font-size: 20px;
  }
  .Accordian-Item{
    margin-bottom: 10px;
    border: 0;
  }
  .custom-dropdown-toggle {
    background: none;
    border: none;
    outline: none;
    padding: 0; /* Optional: remove padding if not needed */
    color: black;
  }
  .custom-dropdown-toggle:hover {
    background: none !important; /* Remove background color on hover */
  }
  .custom-dropdown-toggle:focus {
    background: none !important; /* Remove background color on focus */
  }
  .custom-dropdown-menu{
    margin-right: 40px !important;
  }